/*Esse comando serve para mudar a margem do html todo*/
body {
    margin: 0;
}

header {
    background-color: aqua;
}

#logo {
    width: 20%;
    height: 20%;
}

/*essa linha ajusta o conteúdo*/
.conteiner {
    display: flex;
    align-items: flex-start;
    gap: 1px;
    background-color: blue;
}

img {
    width: 60%;
    height: 60%;
}

h2 {
    margin-left: 2px;
    color: aliceblue;
}

.texto p {
    max-width: 100%;
    color: aliceblue;
}

button {
    background-color: red   ;
}