/* Fonte */

@font-face {
    font-family: 'coolvetica';
    src: url('../font/Coolvetica Rg.otf') format('opentype');
}

/* Geral */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

/* Header */

header {
    background-color: #CBD5E1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;
}

.logo {
    width: 30%;
    height: auto;
}

/* Navegação */

nav {
    display: flex;
    gap: 10px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #0F172A;
    font-size: 15px;
}

nav a:hover {
    color: #2563EB;
}

/* Seções */

#missao,
#visao,
#valores {
    padding: 30px 50px;
}

/* Título padrão */

.titulo {
    text-align: center;
    background-color: #0F172A;
    color: #F8FAFC;

    border-radius: 30px;
    padding: 5px 10px;
}

/*Footer*/

footer {
    background-color: #0F172A;
    color: #F8FAFC;

    padding: 30px;

    text-align: center;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 50px;
}

footer a {
    color: #F8FAFC;
    text-decoration: none;
    font-size: 15px;
}