/* Seções */

#missao,
#visao,
#valores {
    padding: 30px 50px;
}

/* Título padrão */

.titulo {
    text-align: center;
    background-color: #0F172A;
    color: #F8FAFC;

    border-radius: 30px;
    padding: 5px 10px;
}




/* Área Media Queries */

@media (min-width: 1200px) {

    .titulo {
        width: 60%;
        margin: 0 auto;
    }

    #missao,
    #visao,
    #valores {
        max-width: 1000px;
        margin: 0 auto;
    }

    #missao p,
    #visao p,
    #valores p {
        font-size: 1.2rem;
        line-height: 1.8;
        text-align: justify;
    }

    footer nav {
        gap: 30px;
    }

    footer a {
        font-size: 18px;
    }
}